.top_contact{
    background-color: rgb(4, 184, 4);
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.social_contact div:hover{
    cursor: pointer;
    color: black;
    transition: 0.3s;
}
.main_phone div{
    text-align: center;
}

.navigation{
    color: #444;
    font-weight: bold;
    font-family: arial;
    margin-top: 20px;
}

.navigation_content div:hover{
    color: rgb(4, 184, 4);
    transition: 0.3s;
    cursor: pointer;
}
.landing{
    margin-top: 20px;
    background-image: url("https://i.postimg.cc/MT2Fxsdj/istockphoto-807418830-612x612.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
}
.Lnding_wrap{
    background-color: #000000c4;
    height: 400px;
}
.landing_content h3{
    margin-top: 100px;
    font-family: arial;
    font-weight: bold;
}
.landing_content{
    color: white;
}
.landing_content button{
    background: rgb(4, 184, 4);
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
    color: white;
}
.landing_content button:hover{
    background-color: transparent;
    border: 1px solid #ddd;
    transition: 0.3s;
    background-color: rgba(221, 221, 221, 0.356);
}
.skill_wrap{
    text-align: center;
    margin-top: 20px;
}
.skill_wrap h1{
    font-family: arial black;
}
.skill_one div{

}

.skill_two div{
    margin-top: 50px;
}
.skill_wrap.container{
    width: 50%;
}
.skill_two_content {
    box-shadow: 2px 5px 12px -5px;
    height: 100px;
    padding-top: 8%;
    border-radius: 5px;
}
.skill_one_content{
    box-shadow: 2px 5px 12px -5px;
    height: 100px;
    padding-top: 8%;
    border-radius: 5px;
}
.skill_two_content:hover{
    box-shadow: 6px 8px 17px -5px;
    transition: 0.3s;
    cursor: pointer;
}

.skill_one_content:hover{
    box-shadow: 6px 8px 17px -5px;
    transition: 0.3s;
    cursor: pointer;
}
.portfolio_button{
    margin-top: 30px;
    background: rgb(4, 184, 4);
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
    color: white;
}
.portfolio_button:hover{
    background-color: transparent;
    border: 1px solid #ddd;
    transition: 0.3s;
    background-color: rgba(221, 221, 221, 0.356);
    color: black;
}
.company_line_one div img{
    max-width: 200px;
    
}
.Worked_company_wrap{
    text-align: center;
    margin-top: 60px;
}
.worked_title h3{
    font-weight: bold;
}